$color-background: #ffffff;

$color-circles-background: #8DACDC;
$color-a: #FEBE54;
$color-b: #FEF454;
$color-c: #7642AC;
$color-selected: #295498;

body {
  padding: 0;
  margin: 0;
}

.main {
  width: 66.666%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circles-svg {
  background: $color-circles-background;
  width: 100%;
  height: 50%;
  display: block;
}

.circles-background {
  opacity: 0;
  cursor: crosshair;
}

@mixin circle($color) {
  stroke-width: 1.0;
  fill: $color;
  stroke: darken($color, 5%);
  cursor: pointer;

  &:hover {
    fill: darken($color, 5%);
  }
}

@mixin sound($color) {
  fill: none;
  stroke: $color;
}

.circle-a {
  @include circle($color-a);
}

.sound-a {
  @include sound($color-a);
}

.circle-b {
  @include circle($color-b);
}

.sound-b {
  @include sound($color-b);
}

.circle-c {
  @include circle($color-c);
}

.sound-c {
  @include sound($color-c);
}

$selector-size: 30px;

.bottombar {
  display: flex;
  justify-content: flex-start;
}

.selectors {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  margin-top: 10px;
}

@mixin selector($color) {
  width: $selector-size;
  height: $selector-size;
  margin-right: 10px;
  border-radius: 0px;
  background: $color;
  cursor: pointer;

  transition: fill 0.5s;
  &:hover {
    fill: darken($color, 30%);
  }
}

.selector-a {
  @include selector($color-a);
}

.selector-b {
  @include selector($color-b);
}

.selector-c {
  @include selector($color-c);
}
