$color-background: #2a4f6e;
$color-a: #a1bfd8;
$color-b: #edd17d;
$color-c: #ed9e7d;

body {
  padding: 0;
  margin: 0;
}

.background {
  fill: $color-background;
}

@mixin circle($color) {
  stroke-width: 1.0;
  opacity: 0.5;
  fill: $color;
  stroke: darken($color, 20%);

  &:hover {
    fill: lighten($color, 10%);
  }
}

@mixin sound($color) {
  fill: none;
  stroke: $color;
}

.circle-a {
  @include circle($color-a);
}

.sound-a {
  @include sound($color-a);
}

.circle-b {
  @include circle($color-b);
}

.sound-b {
  @include sound($color-b);
}

.circle-c {
  @include circle($color-c);
}

.sound-c {
  @include sound($color-c);
}

